/* .container>header>li>a{
    list-style-type: none;
} */

/* .timer__items {
    display: flex;
    font-size: 48px;
}
.timer__item {
    position: relative;
    min-width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
    text-align: center;
}
.timer__item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 14px;
}
.timer__item:not(:last-child)::after {
    content: ':';
    position: absolute;
    right: -15px;
} */

body {
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
  }
  
.countdown-title {
    color: rgb(117, 32, 117);
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
}
  
.countdown {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}
  
.countdown-number {
    padding: 10px;
    border-radius: 3px;
    background: rgb(170, 7, 170);
    display: inline-block;
}
  
.countdown-time {
    padding: 15px;
    border-radius: 3px;
    background: rgb(80, 11, 80);
    display: inline-block;
    color: white;
}
  
.countdown-text {
    display: block;
    padding-top: 5px;
    font-size: 16px;
    color: white;
}